.loginControler{
    text-align: center;
}
.googleLoginButton{
    height: 30px;
    width: 200px;
    background-color: rgb(243, 0, 0);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 16px;
}
.githubLoginButton{
    margin-top: 10px;
    height: 30px;
    width: 200px;
    background-color: rgb(2, 28, 34);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 16px;
}
